/* styles.css */

.rotate-y-45 {
    transform: rotateY(45deg);
}

.rotate-y-0 {
    transform: rotateY(0deg);
}

.translate-x--1 {
    transform: translateX(-50%);
}

.translate-y--1 {
    transform: translateY(-50%);
}

