.book {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: powderblue;
}

.book__content {
    position: relative;
    width: 350px;
    height: 450px;
    transition: transform 0.5s;
}

.book__content > div {
    transition: transform 0.5s;
}

.book__page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.book__front,
.book__back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.book__front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.book__back {
    z-index: 0;
}

.book__frontContent,
.book__backContent {
    width: 100%;
    height: 100%;
    min-width: unset;
    min-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book__backContent {
    transform: rotateY(180deg)
}
/* Paper flip effect */
.book__flipped .book__front,
.book__flipped .book__back {
    transform: rotateY(-180deg);
}

